# Starship configuration

[character]
success_symbol = "[➜](bold green)"
error_symbol = "[➜](bold red)"

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "

[git_status]
ahead = "⇡${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
behind = "⇣${count}"

[nodejs]
symbol = " "

[python]
symbol = " "

[rust]
symbol = " "

[time]
disabled = false
format = '[\[ $time \]]($style) '
time_format = "%T"

[cmd_duration]
min_time = 500
format = "took [$duration](bold yellow)"
